.container {
  background-color: var(--color-bg);
  height: 100vh;
}

.content {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.form {
  width: 40%;
}

@media (max-width: 960px) {
  .form {
    width: 100%;
  }
}
